/* Estilos para el menú de navegación */
nav {
    background-color: blue; /* Cambia el color de fondo a azul */
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: white; /* Cambia el color del texto a blanco */
    padding: 5px;
    font-weight: bold; 
  }

  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }

  header {
    display: flex; /* Activa el modelo de diseño flexbox */
    justify-content: space-between; /* Distribuye los elementos horizontalmente con espacio entre ellos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px;
    background-color: #f2f2f2;
  }

  header img {
    width: 100px; /* Ajusta el ancho del logo según tus necesidades */
     height: auto; /* Mantiene la proporción de aspecto original del logo */
    margin-right: 5px; /* Agrega un espacio entre el logo y los botones */
  }

  header button {
    margin-left: 10px; /* Agrega un espacio entre los botones */
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  header button:hover {
    background-color: #2980b9;
  }
  
  header button:first-child {
    margin-right: 10px;
  }

  header div {
    margin-right: 50px; /* Ajusta el margen derecho según tus necesidades */
    margin-left: 50px;
  }

  /* Estilos para el formulario */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;

  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(219, 212, 212, 0.1);
  padding: 50px;
  border: 1px solid #d1caca; /* Agrega un borde alrededor del formulario */
}

form h2 {
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #2980b9;
}

  